#root {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: hidden;
  overflow-x: hidden;
}

body {
  height: 100vh;
  background-image: url("/floral-back.webp");
  margin: 0px;
  min-width: 390px;
  overflow: hidden;
  touch-action: pan-x pan-y;
}
